body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    width: 100vw;
    


}

.header {

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    width: 97%;
    justify-content: space-between;
    padding: 1.5vh 1.5%;
    height: 8vh;
    margin: 0;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.877);
}


.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    
}

.header__logo span{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6vw;
    font-weight: 900;
    vertical-align: middle;
    text-transform: uppercase;

}
.header__logo img{
    width: 3.4vw;
    
}



nav{
    display: flex;
    align-items: center;
}

nav ul {
    padding: 0 3vw;
    display: flex;
    gap: 3vw;

}

nav li{
    display: inline-block;
    margin: 0;
    padding: 0 1vw;
    
}

nav a{
    text-transform: uppercase;
    color: #8B008B;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2vw;
}

.perfil {
    display: flex;
    align-items: center;
    padding: 0 1.5vw ;
    height: 100%;
    gap: 3vw;

}
.perfil img{
    width: 2.4vw;
}


.perfil__logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    

}

.perfil__logo-img {
    display: flex;
    justify-content: center;
}


.perfil__logo-botones {
    display: none;
    padding: 0;
}

.open {
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-items: right;
    right: 0%;
    gap: 0;
    top: 11%; 
}

.open a{
    display: block;
    font-size: 0.8vw;
    width: 100%;
    padding: 2.5vh 2vw;


}




.perfil__logo-botones li{

    width: 100%;
    padding: 0;

}



.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: rgb(204, 204, 204);
    text-align: center;
    padding: 0.3vw;
    margin-top: 4vh;

}