.main__contenedor {
    width: 60vw;
    margin: 7vh 0;
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    align-items: center;
    gap: 10vh;

}

.main__contenedor--video {
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.main__contenedor--video h2 {
    background-color: rgb(255, 163, 127);
    margin: 0;
    padding: 0;
    padding: 2vh 0;
    width: 100%;


}
.main__contenedor--video video {
    background-color: black;
    width: 80%;
    height: 55vh;
}


/*INFORMACION*/

.main__contenedor--info {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    line-height: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
    
    
}

.info-presentacion {
    width: 55%;
}

